body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primary-button,
.secondary-button {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    background-color: deeppink;
    cursor: pointer;
  }
}

.primary-button {
  color: cyan;
  background-color: deeppink;

  &:hover {
    background-color: hotpink;
  }
}

.secondary-button {
  color: purple;
  background-color: cyan;

  &:hover {
    background-color: deepskyblue;
  }
}
